#root{
  height: 100%;
}
.App{
  height: 100%;
}
/*----------------Navbar-----------*/
.navbar{
  height: 82vh;
}
/*---------------TopBar------------*/
#topbar{  
  height: 15vh;
  background-color: #203B55;
  color: #BBBBBB;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
#topbar .header{
  margin-top: 15px;
  color: #BBBBBB;
}
.row1{
  padding-bottom:0px !important;
}
.row2{
  padding-top:0px !important;
}
.chartContainer{
  height: 36vh;
}
.mapContainer{
  height: 68vh;
}
.dashboard{
  height: 100%;
  margin-top: 10px !important;
}

.infoContainer{
  padding-left: 0px !important;
  padding-right: 50px !important;
}

.menuContainer{
  padding-right: 0px !important;
}

.orderTable{
  margin-top: 20px !important;
}